<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="container">
    <div class="register">
        <div class="header">
            <h2>Log in</h2>
        </div>
        <form method="post">
            <div class="form">
                <div class="form-group">
                    <label>User Name</label>
                    <div>
                        <input type="text" id="m_user" name="m_user">
                    </div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <div>
                        <input type="password" id="m_password" name="m_password">
                    </div>
                </div>
                <div class="form-group">
                    <div>
<!--                        <button type="submit" id="submit">Submit</button>-->
                        <input type="submit" id = "Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>