/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.search-form {
    margin-top: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #d32f2f;
}

.menu-list {
    padding: 50px 0;
}

.menu-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-list ul {
    list-style: none;
    padding: 0;
}

.menu-list li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.item-name {
    flex: 1;
}

.rating {
    margin-right: 20px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    padding: 8px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-controls button:hover {
    background-color: #d32f2f;
}

.quantity-value {
    margin: 0 10px;
    font-weight: bold;
}

.add-to-cart, .add-item-in-list {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover, .add-item-in-list:hover {
    background-color: #388e3c;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
