<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Update Profile</h1>
    </header>
    <main>
        <div class="form-container">
            <form method="post" action="{{ url_for('update_profile', user_type=user_type, user_id=user._id) }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{ user['username'] }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ user['email'] }}" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" name="phone" value="{{ user['phone'] }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="tel" id="password" name="password" value="{{ user['password'] }}" required>
                </div>
                <button type="submit">Update Profile</button>
            </form>
        </div>
    </main>
</body>
</html>
